body {
    margin: 80px;
    background-color: blue;
}

.red{
    color:red
}
.headline{
    font-size: 69px;
    text-align: center;
}

.image_home{
    width: 200px;
    height: 300px;
    border: 15px solid orange;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Creates two equal columns */
}

.column {
    padding: 20px; /* Optional spacing */
}


p {
    font-family: "Comic Sans MS";

}

ul{
    font-family: "Comic Sans MS";
}
table{
    font-family: "Comic Sans MS";
    border: 1px solid black;
}

th, td {
    border: 1px solid black;
    padding: 3px
}
th{
    background-color: red;
}
